@page
@model _2048.Pages.ТаблицаModel
@{
}
<body>
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Топ 9
    </p>
    <p>
        1 место -&nbsp;<input name="Анна Белова" type="button" value="Анна Белова" id="nick1" /><input name="score" type="button" value="12000" id="score1" />
    </p>
    <p>
        2 место -&nbsp;<input name="name" type="button" value="Давид Глухов" id="nick2" /><input name="score" type="button" value="9154" id="score2" />
    </p>
    <p>
        3 место -&nbsp;<input name="name" type="button" value="Анна Рябинина" id="nick3" /><input name="score" type="button" value="5604" id="score3" />
    </p>
    <p>
        4 место -&nbsp;<input name="name" type="button" value="Фёдор Ларионов" id="nick4" /><input name="score" type="button" value="5102" id="score4" />
    </p>
    <p>
        5 место -&nbsp;<input name="name" type="button" value="Николай Антонов" id="nick5" /><input name="score" type="button" value="102" id="score5" />
    </p>
 
</body>