@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form>
    <p><a href="2048"><input id="Button1" type="button" value="Начать игру" style="margin-left: 100px; margin-top: 200px;" /></a></p>
</form>
<form>
    <p><a href="#"><input id="Button2" type="button" value="Таблица лидеров" style="margin-left: 100px;" /></a></p>
</form>
